@use "../../edit" as *;
@use "../partials/typohgraph" as *;
.pagination {
  margin-top: 5rem;
}
.pagination li {
  a.page-link {
    color: $white;
    margin: 0 0.5rem;
  }
  &:hover a.page-link:hover {
    color: $black;
  }
}
.pagese {
  margin-top: 5rem;
  padding: 1rem 1rem;
}
