@use '../../edit' as *;
$utilities : () !default;
$utilities : (
    "margin-top": (
        property: margin-top,
        class: mnt,
        values : (
            0: 0,
            1: 1rem,
            6: 6rem,
        )
    ),
);
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";