@use "../../edit" as *;
.pg {
  list-style-type: none;
}
.fontf {
  font-family: face;
  font-size: 1.6rem;
  text-transform: uppercase;
}
.fonte {
  font-family: inter;
  font-size: 2.5rem;
}
@font-face {
  font-family: face;
  src: url("#{$urlfont}/SunnyspellsRegular-MV9ze.otf");
  font-family: inter;
  src: url("#{$urlfont}/Trispace-VariableFont_wdth,wght.ttf");
}
.nav-link {
  color: black;
  padding: 0 0.9rem;
  font-family: inter;
  margin-right: 1.9rem;
  list-style-type: none;
}
.eidt {
  padding: 5rem;
  text-transform: uppercase;
}
.searchs {
  height: 2.5rem;
  padding: 0.9rem;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background-color: rgba(0, 0, 0, 0.5);
  transition: width 0.2s;
  border-radius: 5px 5px 5px 5px;
}
.searchs::placeholder,
.searchs:focus {
  width: 60%;
  color: white;
}
.eit {
  padding: 0.5rem;
  width: 30%;
  outline: none;
  border: none;
}
.ContactUs,
.links,
.Products,
.sosmed {
  h1 {
    font-size: 2.6rem;
    font-family: inter;
  }
}
