@use "variable" as *;

$util: () !default;
$util: map-merge(
  (
    "spacing": (
      class: p,
      responsive: true,
      property: padding,
      values: $spacing,
    ),
    "margin": (
      class: m,
      reponsive: true,
      property: margin,
      values: $spacing,
    ),
    "margin-left": (
      class: ms,
      property: margin-left,
      values: $spacing,
    ),
    "margin-start": (
      class: mx,
      responsive: true,
      property: margin-left margin-right,
      values: $spacing,
    ),
    "margin-top": (
      class: mt,
      responsive: true,
      property: margin-top,
      values: $spacing,
    ),
    "margin-right": (
      class: mr,
      responsive: true,
      property: margin-right,
      values: $spacing,
    ),
    "border": (
      class: b,
      property: border,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style)
          var(--#{$prefix}border-color),
        0: 0,
      ),
    ),
    "text-align": (
      class: text-align,
      property: text-align,
      values: (
        "center": center,
        "end": left,
        "start": right,
        "justify": justify,
      ),
    ),
    "padding-bottom": (
      class: py,
      property: padding-bottom,
      values: $spacing,
    ),
    "margin-bottom": (
      class: my,
      property: margin-bottom,
      values: $spacing,
    ),
  ),
  $util
);
