@use "api" as *;
@use "variable" as *;
@use "color" as *;
@use "sass:math";
// function maps
@each $property, $maps in $util {
  $values: map-get($maps, values);
  $prop: map-get($maps, property);

  @each $key, $value in $values {
    $properts: if(
      map-has-key($maps, class),
      map-get($maps, class),
      nth($prop, null)
    );
    @if type-of($key) == "default" {
      .#{$properts} {
        #{$prop}: $value;
      }
    } @else {
      .#{$properts}-#{$key} {
        @each $va in $prop {
          #{$va}: $value;
        }
      }
    }
  }
}
// base-size
@function Rem($value) {
  $remvalue: math.div($value, 16) + rem;
  @return $remvalue;
}
